@model FoodViewModel

<div>

    <table class="table">

        <thead>
            <tr>
                <th scope="col">Food ID</th>
                <th scope="col">Food Name</th>
                <th scope="col">Food Price</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.FoodList)
            {
                <tr>
                    <td>@item.FoodID</td>
                    <td>@item.FoodName</td>
                    <td>@item.Price</td>
                </tr>
            }
        </tbody>
    </table>





    <div>

        <form action="food/create" method="post">

            <input type="text" name="Food.FoodName" value="" placeholder="Input food name"/>

            <input type="text" name="Food.Price" value="" />


            <input type="submit" value="Submit" />

        </form>
    </div>


    
</div>