@model FoodViewModel

<div>

    <table class="table">

        <thead>
            <tr>
                <th scope="col">Food ID</th>
                <th scope="col">Food Name</th>
                <th scope="col">Food Price</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.FoodList)
            {
                <tr>
                    <td>@item.FoodID</td>
                    <td>@item.FoodName</td>
                    <td>@item.Price</td>
                </tr>
            }
        </tbody>
    </table>





    <div>

        <form action="food/create" method="post" id="form_submit">

            <input type="text"  name="Food.FoodName" value="" placeholder="Input food name"/>

            <input type="text" name="Food.Price" value="" />


            <input type="submit" id="btn_submit_food" value="Submit" />

        </form>
    </div>


    
</div>


@section scripts {

    <script>
        // Vanila Javascript

        async function submitFoodForm(foodItem) {
            const response = await fetch("Food/CreateFromAjax/",
                {
                    method: "POST",
                    body: foodItem
                }
            );
            const data = await response.json();
            return data;
        }


        async function getFood() {
            const response = await fetch("Food/FoodList/")
            const data = await response.json();
            return data;
        }

        document.getElementById("btn_submit_food").addEventListener("click",async function (e) {

            e.preventDefault();

            let myForm = document.getElementById('form_submit');            let formData = new FormData(myForm);
            await submitFoodForm(formData)
                .then(ret => {
                    alert(ret.message)
                })

        })
    </script>

}

