@model Bootcamp1.ViewModels.UserViewModel
<div class="text-center">
    <h1 class="display-4">Page User</h1>
    <div>

        @{
            foreach (UserModel user in @Model.Users)
            {
                <div>@user.UserName</div>
            }
        }

    </div>

</div>