@*1 view cuma bisa bind 1 model*@
@model UserViewModel

<div>
    hello world
    <br />
    <div>
        User Name: @Model.User.UserName
    </div>
    <div>
        Book Name: @Model.Book.BookName
    </div>
    <div>
        Message: @Model.Message
    </div>
</div>



